@font-face {
    font-family: 'Headhunter';
    src: url('../../utils/HeadhunterRegular-6Y1x.ttf')  format('truetype');
    font-weight: bold;
    };
    @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.mcb-title
{
    font-family: 'Headhunter';
    color: rgb(224, 240, 255);
    font-size: 5vh;
    margin-top: 5%;
    text-align: center;
}
p
{
    font-family: 'Special Elite', cursive;
        font-size: 1.5vh;
        color: rgb(224, 240, 255);
}
.mcbd-span
{
    font-family: 'Special Elite', cursive;
        font-size: 1vh;
        color: rgb(224, 240, 255);
}
.mcbd-cbody
{
    background: black;
    background-color: black ;
}