input::-webkit-input-placeholder {
  font-size: 1rem;
}

input[type="color"]:hover {
  cursor: pointer;
}
.navbar{
  background-color: #111;
}
.NFT-image{
  width: 100%;
  height: 100%;
}

.site-logo{
  height: 50px;
}
.card-body{
  justify-content: space-between;
}

.spaced{
  column-gap: 10px;
}

b, label{
  font-weight: 600 !important;
}

.col-md-6{
  row-gap: 20px;
}

.mint-action {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  column-gap: 10px;
  align-items: flex-start;
}

.vertical{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.cost-value{
  font-size: 26px;
  color: #000;
}

.mint-wrapper{
  padding: 25px;
}

.toogle-button {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #fff;
}

.filterBar {
  align-items: center;
}